<h1>All Contacts</h1>
<% @contacts.each do |contact| %>
    <h2><%= contact.first_name %></h2>
    <h3><%= contact.last_name %></h3>
    <h4><%= contact.email %></h4>
    <h5><%= contact.japan_number %></h5>
    <h5><%= contact.bio %></h5>
    
<% end %>